.unstyle {
    all: unset;
  }
  

#contenido{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px black;
    width: 100%;
    
}

.form-row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.FormularioCrearAsignaturas{
    border: 1px black;
    width: 100%;
    
}


